<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Amadon Store!</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in all_products %}
            <tr>
                <form action="/buy" method="POST">
                    {% csrf_token %}
                    <td>{{product.description}}</td>
                    <td><input type="hidden" name="price" value="{{product.price}}">{{product.price}}</td>
                    <td><select name="quantity">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select></td>
                    <!-- <td><a href="/buy">Buy Product </a></td> -->
                    <td> <input id="butt" type="submit" value="Buy Product"></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>