<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="wrapper">
        <H2>Ninja Gold</H2>

        <div class="finit2">
            <form action="" method="POST">
                {% csrf_token %}
                Your Gold: <input type="text" name='yourGold'>
            </form>
        </div>
        <div class="finit">
            <form action="/farm" method="POST">
                {% csrf_token %}
                <h3>Farm</h3>
                <h3>(earns 10-20 golds)</h3>
                <input id="butt" type="submit" value="Find Gold">
            </form>
        </div>
        <div class="finit">
            <form action="" method="POST">
                {% csrf_token %}
                <h3>Cave</h3>
                <h3>(earns 10-20 golds)</h3>
                <input id="butt" type="submit" value="Find Gold">
            </form>
        </div>
        <div class="finit">
            <form action="" method="POST">
                {% csrf_token %}
                <h3>House</h3>
                <h3>(earns 10-20 golds)</h3>
                <input id="butt" type="submit" value="Find Gold">
            </form>
        </div>
        <div class="finit">
            <form action="" method="POST">
                {% csrf_token %}
                <h3>Casino</h3>
                <h3>(earns 10-20 golds)</h3>
                <input id="butt" type="submit" value="Find Gold">
            </form>
        </div>
        <div class="activ2">
            <form action="" method="POST">
                {% csrf_token %}
                <h3>Activities</h3>
                <textarea rows = "5" cols = "100" name='activs'>{{activityLog}} </textarea>
            </form>
        </div>
    </div>
</body>

</html>