<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="wrapper">
        <div id="finit2">
            <p>Your Gold:</p><input type="text" name="gold_amount" value="{{gold}}" readonly>
            <form id="form1" action="/destroy" method="post">
                {% csrf_token %}
                <button type="submit">Reset Game</button>
            </form>
        </div>
        <form class="forms" action='/processM' method='post'>
            {% csrf_token %}
            <h5>Farm</h5>
            <p>(earns 10-20 golds)</p>
            <input type="submit" value="Find Gold">
            <input type="hidden" name="location" value="farm">
        </form>
        <form class="forms" action='/processM' method='post'>
            {% csrf_token %}
            <h5>Cave</h5>
            <p>(earns 5-10 golds)</p>
            <input type="submit" value="Find Gold">
            <input type="hidden" name="location" value="cave">
        </form>
        <form class="forms" action='/processM' method='post'>
            {% csrf_token %}
            <h5>House</h5>
            <p>(earns 2-5 golds)</p>
            <input type="submit" value="Find Gold">
            <input type="hidden" name="location" value="house">
        </form>
        <form class="forms" action='/processM' method='post'>
            {% csrf_token %}
            <h5>Casino</h5>
            <p>(earns/takes 0-50 golds)</p>
            <input type="submit" value="Find Gold">
            <input type="hidden" name="location" value="casino">
        </form>
        <div id="bottom">
            <p>Activities:</p>
            <textarea name="activity" cols="100", rows="10">
                {% for msg in messages %}
                    {{ msg }}
                {% endfor %}
            </textarea>
        </div>
    </div>
</body>

</html>