/*CSS reset settings here*/
*{
    margin: 5px;
    padding: 5px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
   }
   #header{
    min-height: 140px;
    background-color: green;
    
   }
   #navigation{
    min-height: 310px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
   }
   #main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 20px;
   }