*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   }

#wrapper{
    background-color: rgb(243, 247, 250);
    /*margin: 10px 200px 10px;*/
    width: 1070px;
    height: 1200px;
}

#logo{
    width: 160px;
    height: 60px;
    vertical-align: middle;
    display: inline-block;
}
#box-header h4{
    display: inline-block;
    vertical-align: middle;
    margin-left: 600px;
    color: blue;

}
#menu{
    display: block;
    background-color: rgb(78, 144, 199);
}


#box-header ul li{
    display: inline-block;
    color: rgb(6, 27, 145);
    margin: 10px;
    font-weight: bold;
}

.box-marquee{
    width: 840px;
    height: 300px;
    margin: 20px 20px 0px 20px;
}

.box-marquee img{
    width: 840px;
    height: 300px;
    border: 2px solid gray;
}